<template>
    <div>
        <form action="" method="get">
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Dari Tanggal</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control datepicker" v-model="date_start" name="date_start" required="true">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Sampai Tanggal</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar"></i>
                                </div>
                            </div>
                            <input type="text" class="form-control datepicker" v-model="date_end" name="date_end" required="true">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Bidang</label>
                        <select @change="onChangeSector($event)" v-model="sector" name="sector" class="form-control" required="true">
                            <option value="null"> - </option>
                            <option v-for="sector in sectors" v-bind:key="sector.Kd_Bidang" v-bind:value="sector.Kd_Bidang">
                                {{ sector.Nm_Bidang }}    
                            </option>                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Unit / Perangkat Daerah</label>
                        <select @change="onChangeUnit($event)" v-model="unit" name="unit" class="form-control" required="true">
                            <option value="null"> - </option>    
                            <option v-for="unit in units" v-bind:key="unit.Kd_Unit" v-bind:value="unit.Kd_Unit">
                                {{ unit.Nm_Unit }}    
                            </option>                           
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Sub Unit</label>
                        <select @change="onChangeSubUnit($event)" class="form-control" v-model="sub_unit" name="sub_unit" required="true">
                            <option value="null"> - </option>  
                            <option v-for="subUnit in subUnits" v-bind:key="subUnit.Kd_Sub" v-bind:value="subUnit.Kd_Sub">
                                {{ subUnit.Nm_Sub_Unit }}    
                            </option>                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>UPB</label>
                        <select @change="onChangeUPB($event)" class="form-control" v-model="upb" name="upb">
                            <option value="null"> - </option>  
                            <option v-for="upb in upbs" v-bind:key="upb.Tahun + upb.Kd_Prov + upb.Kd_Kab_Kota + upb.Kd_Bidang + upb.Kd_Unit + upb.Kd_Sub + upb.Kd_UPB" v-bind:value="upb.Kd_UPB">
                                {{ upb.Nm_Pimpinan }}    
                            </option>                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Ruang</label>
                        <select class="form-control" v-model="room" name="room" :disabled="urlPage != 'kir'">
                            <option value=""> - </option>   
                            <option v-for="room in rooms" v-bind:key="room.Tahun + room.Kd_Prov + room.Kd_Kab_Kota + room.Kd_Bidang + room.Kd_Unit + room.Kd_Sub + room.Kd_UPB + room.Kd_Ruang" v-bind:value="room.Kd_Ruang">
                                {{ room.Nm_Ruang }}    
                            </option>                            
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary float-right" type="submit">Filter</button>
                </div>
            </div>
        </form>

    </div>
</template>

<script>
export default {
    data: function () {
        return {
            date_start: '',
            date_end: '',
            sector: '',
            unit: '',
            sub_unit: '',
            upb: '',
            room: '',
            sectors: [],
            units: [],
            subUnits: [],
            upbs: [],
            rooms: [],
            urlPage: ''
        }
    },
    mounted: function() {
        var app = this;
        axios.get('/api/filter/get-sectors')
            .then(function (resp) {
                app.sectors = resp.data;
            })
            .catch(function (resp) {
                console.log(resp);
                alert('Could not load sectors');
            });
        
        let urlParams = new URLSearchParams(window.location.search);
        this.date_start = urlParams.get('date_start');
        this.date_end = urlParams.get('date_end');
        this.sector = urlParams.get('sector');

        if (this.sector != null) {
            this.loadUnit(this.sector);
            this.unit = urlParams.get('unit');
        }

        if (this.unit != null) {
            this.loadSubUnit(this.unit);
            this.sub_unit = urlParams.get('sub_unit');
        }

        if (this.sub_unit !== null) {
            this.loadUPB(this.sub_unit);
            this.upb = urlParams.get('upb');
        }

        if (this.upb !== null) {
            this.loadRoom(this.upb);
            this.room = urlParams.get('room');
        }

        let urlPath = window.location.pathname.split('/');
        this.urlPage = urlPath[2];
    },
    methods: {
        loadUnit: function (id) {
            var app = this;
            if (id !== '') {
                axios.get('/api/filter/get-units/' +id)
                    .then(function (resp) {
                        app.units = resp.data;
                    })
                    .catch(function (resp) {
                        alert('Could not load units');
                    });
            }
            else {
                console.log('Data kosong');
                app.units = [];
            }
        },
        loadSubUnit: function (id) {
            var app = this;
            if (id !== '') {
                axios.get('/api/filter/get-sub-units/' +app.sector+ '/' +id)
                    .then(function (resp) {
                        app.subUnits = resp.data;
                        console.log(resp.data);
                    })
                    .catch(function (resp) {
                        alert('Could not load sub units');
                    });
            }
            else {
                console.log('Data kosong');
                app.subUnits = [];
            }
        },
        loadUPB: function (id) {
            var app = this;
            if (id !== '') {
                axios.get('/api/filter/get-upb/' +app.sector+ '/' +app.unit+ '/' +id)
                    .then(function (resp) {
                        app.upbs = resp.data;
                        console.log(resp.data);
                    })
                    .catch(function (resp) {
                        console.log(resp.data);
                        alert('Could not load upb');
                    });
            }
            else {
                console.log('Data kosong');
                app.upbs = [];
            }
        },
        loadRoom: function (id) {
            var app = this;
            if (id !== '') {
                axios.get('/api/filter/get-rooms/' +app.sector+ '/' +app.unit+ '/' +app.upb+ '/' +id)
                    .then(function (resp) {
                        app.rooms = resp.data;
                        console.log(resp.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert('Could not load room');
                    });
            }
            else {
                console.log('Data kosong');
                app.rooms = [];
            }
        },
        onChangeSector(event) {
            this.unit = null;
            this.sub_unit= null;

            var id = event.target.value;
            this.loadUnit(id);
        },
        onChangeUnit(event) {
            this.sub_unit= null;
            this.upb = null;

            var id = event.target.value;
            this.loadSubUnit(id);
        },
        onChangeSubUnit(event) {
            this.upb = null;

            var id = event.target.value;
            this.loadUPB(id);
        },
        onChangeUPB(event) {
            this.room = null;

            var id = event.target.value;
            this.loadRoom(id);
        }

    }
}
</script>